@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Zen+Kaku+Gothic+New&display=swap');


.holder {
    background-color: #3D302D;
    padding: 20px;
    max-width: 60%;
    border-radius: 5%;

}

.introduction_text {
    font-size: 18px;
    color: beige; 
    font-family: 'Zen Kaku Gothic New', sans-serif;

}